---
import StatCard from '../ui/StatCard.astro';

const stats = [
  {
    number: "10K+",
    label: "Active Users",
    icon: "users",
    delay: "0"
  },
  {
    number: "$2M+",
    label: "Expenses Tracked",
    icon: "dollar-sign",
    delay: "100"
  },
  {
    number: "4.8",
    label: "App Rating",
    icon: "star",
    delay: "200"
  },
  {
    number: "50+",
    label: "Contributors",
    icon: "code-branch",
    delay: "300"
  }
];
---

<section class="stats section-padding-sm">
  <div class="container">
    <div class="stats-grid">
      {stats.map(stat => (
        <div data-aos="zoom-in" data-aos-delay={stat.delay}>
          <StatCard {...stat} />
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 1.5rem; 
    max-width: 1200px;
    margin: 0 auto;
  }
  .stats{
    background-color: rgb(var(--color-primary));
  }
</style>